.header{
    font-family: 'Rowdies', cursive;
    color: crimson;
    font-size: large;
}

.content{
    color: royalblue;
    width: 300px;
    word-break: keep-all;
    text-align: center;
    margin-left: 10%;
}

img{
    max-width: 50%;
    height: auto;
    margin-left: 80px;
    float: right;



}

.last{
    font-family: 'Rowdies', cursive;;
    color: white;
    background-color: royalblue;
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    height: 50px;

}

body{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -600px;




}

.last:hover{
    border-bottom: 1px;
    background-color: coral;
}