.header{
    font-family: 'Rowdies', cursive;
    color: crimson;
    font-size: large;
}

.content{
    color: royalblue;
}

img{
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}

.last{
    font-family: 'Rowdies', cursive;;
    color: white;
    background-color: royalblue;
    display: inline-block;
    border-radius: 25px;
    padding: 20px



}