.header{
    font-family: 'Rowdies', cursive;
    color: crimson;
    font-size: large;
}

.content{
    color: royalblue;
    width: 300px;
    word-break: keep-all;
    text-align: center;
    margin-left: 18%;
}

img{
    max-width: 40%;
    height: auto;
    margin-left: 20px;
    float: right;

}

.last{
    font-family: 'Rowdies', cursive;;
    color: white;
    background-color: royalblue;
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    height: 50px;

}

body{
    text-align: center;
}

.last:hover{
    border-bottom: 1px;
    background-color: coral;
}